aiohttp==3.9.1
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.1.0
attrs==23.1.0
backoff==2.2.1
blinker==1.7.0
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
cohere==4.37
colorama==0.4.6
Cython==3.0.6
dataclasses-json==0.6.3
diskcache==5.6.3
dnspython==2.4.2
faiss-cpu==1.7.4
fastavro==1.9.1
filelock==3.13.1
Flask==3.0.0
Flask-Cors==4.0.0
frozenlist==1.4.0
fsspec==2023.12.2
greenlet==3.0.2
huggingface-hub==0.19.4
idna==3.6
importlib-metadata==6.11.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
langchain==0.0.349
langchain-community==0.0.1
langchain-core==0.0.13
langsmith==0.0.69
llama_cpp_python==0.2.22
MarkupSafe==2.1.3
marshmallow==3.20.1
mpmath==1.3.0
multidict==6.0.4
mypy-extensions==1.0.0
networkx==3.2.1
nltk==3.8.1
numpy==1.26.2
packaging==23.2
Pillow==10.1.0
pydantic==2.5.2
pydantic_core==2.14.5
pymongo==4.6.1
python-dotenv==1.0.0
PyYAML==6.0.1
regex==2023.10.3
requests==2.31.0
safetensors==0.4.1
scikit-learn==1.3.2
scipy==1.11.4
sentence-transformers==2.2.2
sentencepiece==0.1.99
sniffio==1.3.0
SQLAlchemy==2.0.23
sympy==1.12
tenacity==8.2.3
threadpoolctl==3.2.0
tiktoken==0.5.2
tokenizers==0.15.0
-f https://download.pytorch.org/whl/torch_stable.html
torch==2.0.1+cpu
torchmetrics==1.1.1
torchvision==0.15.2+rocm5.4.2
tqdm==4.66.1
transformers==4.36.0
typing-inspect==0.9.0
typing_extensions==4.9.0
urllib3==2.1.0
Werkzeug==3.0.1
yarl==1.9.4
zipp==3.17.0
